:root {

  --current-time-size: 16px;
  --current-time-color: red;

	--width: 20em;

}

body {
	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
}

.filters {
	padding: 1em 1ex;
}

.calendar {
	background: var(--theme-secondary-400);
	padding: 1em;

	display: grid;
	grid-template-columns: [clock] 4em repeat(auto-fit, var(--width));
	grid-auto-columns: var(--width);
	grid-template-rows: repeat(calc(18 * 12), 20px);

	column-gap: 1em;
	row-gap: 2px;

	font-size: small;
}

.venues, .talks, .clock {
	display: contents;
}

.empty-talk-header {
	grid-row: 1 / 5;
}

.talk-header {
	background: #F77F02;
	color: white;
	font-size: larger;
	grid-row: 1 / 5;
	text-align: center;
}

.talk {
	background: #AFC944;
	padding: 0.5em 0.5ex;
}

.talkTitle {
	font-weight: bold;
}

.clock {
	color: white;
}

.currentTime {
  background-color: var(--current-time-color);
  width: 90vw;
  height: 0.2rem;
  position: relative;
}

.currentTime::before {
  width: 0;
  height: 0;
  content: "";
  position: absolute;
  top: calc((var(--current-time-size) * -1) + 1px);
  left: 0;
  border-top: var(--current-time-size) solid transparent;
  border-bottom: var(--current-time-size) solid transparent;
  border-left: var(--current-time-size) solid var(--current-time-color);
}

.currentTime::after {
  width: 0;
  height: 0;
  content: "";
  position: absolute;
  top: calc((var(--current-time-size) * -1) + 1px);
  left: calc(100% - var(--current-time-size));
  border-top: var(--current-time-size) solid transparent;
  border-bottom: var(--current-time-size) solid transparent;
  border-right: var(--current-time-size) solid var(--current-time-color);
}

.fa-video-slash {

	color: #F55089;
}

.fa-ticket {
	color: #2EADD9;
	
}

body:not(.theme-highcontrast):not(.theme-dark).theme-custom.themed {
	--theme-base-primary-color-h: 72;
    --theme-base-primary-color-s: 55%;
    --theme-base-primary-color-l: 53%;
	--theme-base-secondary-color-h: 93;
    --theme-base-secondary-color-s: 52%;
    --theme-base-secondary-color-l: 34%;
    --theme-primary-custom: var(--theme-primary-custom-400);
    --theme-primary-custom-100: hsl(var(--theme-base-primary-color-h), calc(var(--theme-base-primary-color-s) + 0 * 1%), clamp(70%, calc(var(--theme-base-primary-color-l) + 50 * 1%), 95%));
    --theme-primary-custom-200: hsl(var(--theme-base-primary-color-h), calc(var(--theme-base-primary-color-s) + 0 * 1%), clamp(55%, calc(var(--theme-base-primary-color-l) + 35 * 1%), 90%));
    --theme-primary-custom-300: hsl(var(--theme-base-primary-color-h), calc(var(--theme-base-primary-color-s) + 0 * 1%), clamp(35%, calc(var(--theme-base-primary-color-l) + 15 * 1%), 75%));
    --theme-primary-custom-400: hsl(var(--theme-base-primary-color-h), calc(var(--theme-base-primary-color-s) + 0 * 1%), clamp(20%, calc(var(--theme-base-primary-color-l) + 0 * 1%), 60%));
    --theme-primary-custom-500: hsl(var(--theme-base-primary-color-h), calc(var(--theme-base-primary-color-s) + 0 * 1%), clamp(15%, calc(var(--theme-base-primary-color-l) + -14 * 1%), 45%));
    --theme-primary-custom-600: hsl(var(--theme-base-primary-color-h), calc(var(--theme-base-primary-color-s) + 0 * 1%), clamp(5%, calc(var(--theme-base-primary-color-l) + -26 * 1%), 30%));
	--theme-secondary-custom: var(--theme-secondary-custom-400);
    --theme-secondary-custom-100: hsl(var(--theme-base-secondary-color-h), calc(var(--theme-base-secondary-color-s) + 0 * 1%), clamp(70%, calc(var(--theme-base-secondary-color-l) + 50 * 1%), 95%));
    --theme-secondary-custom-200: hsl(var(--theme-base-secondary-color-h), calc(var(--theme-base-secondary-color-s) + 0 * 1%), clamp(55%, calc(var(--theme-base-secondary-color-l) + 35 * 1%), 90%));
    --theme-secondary-custom-300: hsl(var(--theme-base-secondary-color-h), calc(var(--theme-base-secondary-color-s) + 0 * 1%), clamp(35%, calc(var(--theme-base-secondary-color-l) + 15 * 1%), 75%));
    --theme-secondary-custom-400: hsl(var(--theme-base-secondary-color-h), calc(var(--theme-base-secondary-color-s) + 0 * 1%), clamp(20%, calc(var(--theme-base-secondary-color-l) + 0 * 1%), 60%));
    --theme-secondary-custom-500: hsl(var(--theme-base-secondary-color-h), calc(var(--theme-base-secondary-color-s) + 0 * 1%), clamp(15%, calc(var(--theme-base-secondary-color-l) + -14 * 1%), 45%));
    --theme-secondary-custom-600: hsl(var(--theme-base-secondary-color-h), calc(var(--theme-base-secondary-color-s) + 0 * 1%), clamp(5%, calc(var(--theme-base-secondary-color-l) + -26 * 1%), 30%));
	--theme-link-color: #213018;
	--theme-link-color-hover: #213018;
	--theme-link-color-visited: #213018;

}
